body {
  /* background-color: red; */
  height: 100%;
  background-image: cross-fade();
}

.navigationBar{
  width: 100%;
  margin-top: 20px;
  /* background-color: blue;
  height: 50px; */
}
.navbar_right {
  display: flex;
  justify-content: flex-end;
}

.margin_top_20{
  margin-top: 20px;
}

.fontDesign{
  font-size: 14px;
  font-family: 'Rubik';
  color: gray;
}

.margin_left_5{
  margin-left: 5px
}

.margin_left_10{
  margin-left: 10px;
}
.margin_right_50{
  margin-right: 100px;
}

.margin_left_20{
  margin-left: 20px;
  width: 100%;
}

.margin_left_20{
  margin-left: 20%;
}

.margin_left_40{
  margin-left: 40px;
}


.margin_right_20{
  margin-right: 20px;
}

.margin_left_150{
  margin-left: 150px;
}

.addCart{
  margin-left: 150px;
  width: 200px;
}

.fa-wifi{
  transform: rotate(90deg);
  color: white;
}

.form-group{
  margin: 5px;
}

.naira{
  text-align: end;
}


.box{
  /* background: red; */
  height: 120px;
  width: 100%;
  /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); */
}

.box-cover{
  padding: 10px;
}
 
.cardText_font{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.chip_size{
  height: 25px;
  width: 25px;
}
#grad{
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to bottom left, #7661ae, #ba5a68);
}

.payText_2{
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  margin-bottom: 10px;
}

.cardText{
  display: flex;
  justify-content: flex-start;
}

.cardText_text{
  display: flex;
  flex-direction: column;
 
}

.cardText_white{
  color: white;
  font-family: monospace;
  font-size: 12px;
}

.margin_top_5{
  margin-top: 7px;
}
.cardText_icon_wifi{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.mastercard_style{
  height: 20px;
  width: 20px;
         margin-top: 149px;
         margin-left: 240px;
}

.payOnline{
  display: flex;
  justify-content: space-around;
}

.margin_chip{
  margin: 7px;
}

.visa_size{
  height: 40px;
  
}

.discover_size{
  height: 40px;
  
}

.paypal_size{
  height: 5px;

  
}

.strong_text{
  font-weight: bold;
}
.card_details1{
  display: flex;
  margin-left: 150px;
}

@media(max-width: 570px){
  .card_details1{
    margin-left: 50px;
  }
}











